[user]
    email = semptic@kuhn.cloud
	name = Stefan Kuhn

[includeIf "gitdir:~/Projects/work/**"]
    path = ~/Projects/work/.gitconfig

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[rebase]
    autostash = true

[push]
    default = simple

[pull]
	merge = true
	rebase = false

[fetch]
    prune = true

[branch]
    # autosetupmerge = always
    autosetuprebase = always

[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
	hist = log --graph --decorate --pretty=oneline --abbrev-commit --all

