#!/bin/bash

(xinput set-prop "SynPS/2 Synaptics TouchPad" "Device Enabled" 0) &
(feh --bg-scale $HOME/Wallpaper/Arch.png) &
(nextcloud) &
(/usr/lib/gnome-settings-daemon/gnome-settings-daemon) &
(udiskie --no-automount --no-notify --tray --use-udisks2) &
(xscreensaver -nosplash) &
(xautolock -time 5 -locker '/bin/fish -c "i3exit lock"' -detectsleep -secure -corners -000 -cornersize 50 -noclose) &
(xautolock -time 15 -locker '/bin/fish -c "xset dpms force off"' -detectsleep -secure -corners -000 -cornersize 50 -noclose) &
